<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>Home Work</title>
</head>
<body>

  
  
</body>

<div class="container-fluid">
<div class="card  align-self-center card-light" >
        
            <h4 class="card-title text-center"><%= results[0].lineup %></h4>
            
             <table class="table" id="target" style="width:80%;">
             <tr>
             <th>Country</th>
             <th>City</th>
             <th>Place</th>
             <th>Date</th>
             <th>Time</th>
             
             </tr>
             
<% for(var i=0; i<results.length; i++) {%>
        <tr>
             <td><%= results[i].venue.country %></td>
             <td><%= results[i].venue.city %></td>
             <td><%= results[i].venue.name %></td>
             
             <td><%= results[i].datetime.substring(0, 10); %></td>
             <td><%= results[i].datetime.substring(11, 19); %></td>
             
             </tr>
       <% } %>

   
    </table>

   
        </div>
        
    </div>
  
</div>

</html>