<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>Movies Search</title>
</head>
<body>
<div class="container-fluid">
<div class="card flex-row flex-wrap">
        <div class="card-header border-0">
            <img src="<%= movie.Poster %>" alt="">
        </div>
        <div class="card-block px-2">
            <h4 class="card-title"><%= movie.Title %></h4>
            <p class="card-text"><%= movie.Plot %></p>
             <ul class="list-group list-group-flush">
    <li class="list-group-item">Release Date: <%= movie.Released %></li>
    <li class="list-group-item">Runtime: <%= movie.Runtime %></li>
    <li class="list-group-item">IMDB Rating: <%= movie.imdbRating %></li>
    <li class="list-group-item">Cast: <%= movie.Actors %></li>
    <li class="list-group-item">Director: <%= movie.Director %></li>
    <li class="list-group-item">Awards: <%= movie.Awards %></li>
    <li class="list-group-item">Genre: <%= movie.Genre %></li>
    <li class="list-group-item"><a class="btn button btn-warning" href="<%= 'https://www.imdb.com/title/' + movie.imdbID %>" target="_blank">View On Imdb</a></li>
  </ul>

   
        </div>
        
    </div>
  
</div>
  




</body>

<script>

<%  console.log(movie) %> ;

</script>
</html>